* { padding:0; margin:0; outline:0; }

body {
	background:#fff;
	font-family: Arial, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#6f6e6e;
    margin: 0;
}

#logo{
    height: 35px;
    padding-bottom: 10px;
}

#sitename{
    padding-top:10px;
}

#logo, #sitename{
    float: left;
}

.header h1 {
    font-size: 30px;
    text-align: center;
    }


    