.search-bar {
    width: 100%;
    background-color: #4b4b4b;
    overflow: auto;
}

.search-bar a {
    float: left;
    text-align: center;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.search-bar a:hover {
    background-color: rgb(39, 39, 39);
}

.active {
  background-color: #04AA6D;
}

.search-bar .search-container {
    float: right;
}

.search-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    width: 500px;
}

.search-bar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-bar .search-container button:hover {
    background: #ccc;
}

.column-two {
    margin-top: 20px;
    float: left;
    width: 45%;
    padding: 15px;
    font-size: 18px;
}

.column-two p{
    margin-bottom: 10px;
} 

.catimage{
    margin-top: 20px;
    float: left;
    width: 400px;
    height: 400px;
    padding: 15px;
}

.catInfo_1,  .catInfo_2{
    margin: 20px;
    width: auto;
    height: 40px;
    border-bottom-style: groove;

}

.catInfo_3{
    margin: 20px;
    width: auto;
    height: 160px;
    border-bottom-style: groove;
}

.catInfo_1 b,.catInfo_2 b,.catInfo_3 b{
    float: left;
  }


.breeds, .price{
      margin-left: 50px;
      float: left;
      
}

.description{
    margin-top: 10px;
    line-height: 22px;
}

.score, .metric{
    float: left;
    margin-right: 20px;
}

.rating{
    width: auto;
    height: auto;
    margin-top: 40px;
}

.rating_1{
    margin-top: 20px;
    font-size: 20px;
}


.column-three{
    margin-right: 50px;
    float: left;
    font-size: 18px;
}

#RatingCatForm{
    border-bottom: 1px solid;
    padding-top: 20px;
    height: auto;
    width: 95%;
    float: left;
}

#RatingCatForm input{
    margin-left: 20px;
    height: 25px;
    width: 200px;
    border-radius: 5px;
    border-style:groove;
    float: left;
}

.existing{
    margin-top: 20px;
    margin-left: 60px;
    width: 95%;
    height: auto;
    border:1px solid;
}

.Commenttitle{
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid;
}


.row{
    margin-left: 60px;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.comment {
    margin-top: 30px;
    float: left;
    width: 100%;
    height: auto;
    
}

.comment_1, .comment_2{
    width: 100%;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 20px;
    
}
.comment_1{
    width: 95%;
    padding-bottom: 10px;
    border-bottom: 1px dashed;
}

h2 {
    color: #04AA6D;
    font-size: 30px;
    margin-bottom: 25px;
}
.comment h2{
    margin-left: 60px;
}

.comment p {
    padding-left: 10px;
}

.comment textarea {
    padding: 10px;
    margin-top: 18px;
    margin-left: 60px;
    margin-right: 50px;
    font-size: 17px;
    width: 90%;
    height: 50px;
    overflow: auto;
}

.comment button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 80px;
    background: #04AA6D;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.comment button:hover {
    background: #ccc;
}
