

.header {
    padding: 0.001px;
    text-align: left;
    background: url("/static/images/header.jpg");
    color: maroon;
    font-size: 20px;
    margin: 0px;
  }

  .button1 {
    background-image: url("/static/images/homes.png");
    background-size: 40px 40px;
    border-radius: 50%;
    right: 500px;
    height: 40px;  
    width: 40px;
    position:absolute;
    transition: .5s ease;
    cursor: pointer;
    right: 60px;
    top: 60px;
  }
  
  .button2 {
    background-image: url("/static/images/usericon.jpg");
    background-size: 40px 40px;
    border-radius: 50%;
    right: 500px;
    height: 40px;  
    width: 40px;
    position:absolute;
    transition: .5s ease;
    right: 110px;
    cursor: pointer;
    top: 60px;
  }
  
  .searcho {
    background-color:teal;
    width: 1515px;
    height: 50px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:0px;
  }


  input {
    all: unset;
    font: 16px system-ui;
    color: white;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: white;
    opacity: 0.9; 
  }

  .button3 {
    all: unset;
    background-image: url("/static/images/searcho.png");
    background-size: 40px 40px;
    border-radius: 50%;
    right: 500px;
    height: 40px;  
    width: 40px;
    position:absolute;
    transition: .5s ease;
    right: 25px;
    cursor: pointer;
    top: 128px;
  }

  .topnav {
    background-color:silver;
    overflow: hidden;
    margin:0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    width: 300px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  body{
    background:rgb(223, 236, 236);
}


.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;

}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 20%;
    height: 20%;
    position:absolute;
    left: 50px;
    top :250px;

}
h2 {
    width: 20%;
    height: 20%;
    position:absolute;
    left: 360px;
    top :230px;
}
.tableo
{
    position:absolute;
    left: 360px;
    top :300px;

}
.about_me {
    position:absolute;
    left: 60px;
    top :400px;
}
.aboutme
{
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    left: 50px;
    top :600px;
    margin:0px;
}

.button3 {
    background-image: url("/static/images/editbutton.jpg");
    background-size: 40px 40px;
    border-radius: 50%;
    left: 770px;
    height: 40px;  
    width: 40px;
    position:absolute;
    transition: .5s ease;
    right: 90px;
    cursor: pointer;
    top: 500px;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 200px;
    right: 800px;
    top:400px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 200px;
    height: 120px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .tablealbum
  {
      position:absolute;
      right:100px;
      float:right;
      top:300px;
  }
  .palbum
  {
    position:absolute;
    top:3px;
    float:right;
    right:720px;
    
  }