.name, .usertype, .breeds, .email, .registertime, .aboutme{
    width: 100%;
    margin-top: 20px;
}

.name_0, .usertype_0, .breeds_0, .email_0, .registertime_0, .aboutme_0{
    float:left;
}

.name_1, .usertype_1, .breeds_1, .email_1, .registertime_1, .aboutme_1{
    float:right;
}